/*! @group Layout */
/* ========================================================================== */
.wrapper {
	width: 100%;
	height: 100vh;
	display: block;
	//align-items: center;
	//justify-content: center;
	position: relative;
	//background-color: #fff;
	background: url("../images/woodBack.jpg") 0 0 repeat;
	overflow: hidden;
	//transition: all .3s;
	//animation: fadeIn 0.6s ease-in-out;
	z-index: 1;

	&-error {
		width: 100%;
		min-height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;

		&__number {
			width: 40%;
			min-height: 30vh;
			position: relative;

			svg {
				width: 100%;
				height: auto;
				stroke: lighten($secondary, 70%);
				stroke-width: 5;
				fill: none;
				padding: 1rem;
				transition-duration: 0.3s;
			}
		}

		&__text {
			width: 100%;
			min-height: 100vh;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			position: absolute;
			top: 0;
			left: 0;

			h2 {
				font-size: $font-size-h1;
				animation: fadeIn 3s ease-in-out;
				//animation-delay: 2s;
			}
		}

		&__button {
			width: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			left: 0;
			top: 15vh;
			position: absolute;

			.button-back {
				width: 60px;
				height: 60px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 1px solid $primary;
				background-color: #fff;
				overflow: hidden;
				transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

				&::after {
					content: '';
					//width: 100%;
					//height: 100%;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					position: absolute;
					background-color: $primary;
					z-index: 1;
					//box-sizing: border-box;
					transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
					transform: scaleX(0);
					transform-origin: center right;
				}

				svg {
					fill: none;
					stroke: $primary;
					stroke-width: 6;
					z-index: 10;
					transition: all 0.3s;
				}

				&:hover {

					svg {
						stroke: #fff;
						transform: translateX(-5px);
					}

					&::after {
						transform: scaleX(1);
						transition-delay: 0s;
					}
				}
			}
		}
	}

	@include grid-media($Medium) {
		//padding: 6rem 1rem 0;
	}

	@include grid-media($XSmall) {

		&_news {
			padding-right: 0;
		}
	}

	@include grid-media($Small) {
		height: inherit;
		position: fixed;
		min-height: 100vh;
	}
}

.container {
	width: $containerWidth;
	height: calc(#{$containerWidth} / 1.57);
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	//background: url("../images/containerBack.png") 0 0 no-repeat;
	//background-size: calc(#{$containerWidth} + (#{$containerWidth} / 2));

	&__wrapper {
		width: 100%;
		height: 100%;
		display: block;
		position: relative;

		&_padding {
			width: calc(100% - (#{$containerPadding} * 2));
			height: calc(100% - (#{$containerPadding} * 2));
			padding: $containerPadding;
		}
	}

	&__inside {
		width: $containerInsideWidth;
		height: inherit;
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 2;

		&_back {
			width: 100%;
			//height: 100%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}
	}

	&__back {
		width: 100%;
		height: 100%;
		display: block;
		z-index: 1;

		img {
			width: 100%;
			height: 100%;
			display: block;
			object-position: center;
			object-fit: cover;
		}
	}

	&__frame {
		width: $frameWidth;
		height: $frameHeight;
		display: block;
		position: absolute;
		z-index: 5;
		top: 50%;
		transform: translate(-50%, -50%);

		&_left {
			left: $frameLeft;
		}

		&_right {
			left: $frameRight;
		}

		.frame {
			&__left {

				&_top {
					width: 100%;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
					}
				}

				&_back {
					width: $frameBackWidth;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -($frameBackLeftTop));
					z-index: 1;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
					}
				}

				&_title {
					width: 100%;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					text-align: center;
					line-height: 1;
					margin-top: -57.3%;
					z-index: 5;
					transform: translate(-50%, -50%);

					h2 {
						width: 100%;
						height: auto;
						display: block;
						position: absolute;
						margin: 0;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						color: $primary;
					}
				}

				&_quest {
					width: 80%;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					text-align: center;
					line-height: 1;
					margin-top: -38%;
					z-index: 5;
					transform: translate(-50%, -50%);

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
						position: relative;
					}

					span {
						width: calc(100% - 2.6rem);
						height: auto;
						display: block;
						position: absolute;
						padding-left: 1.3rem;
						padding-right: 1.3rem;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						z-index: 2;
					}
				}

				&_text {
					width: 70%;
					height: 32vh;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: 1rem;
					transform: translate(-50%, -50%);
					z-index: 5;

					p {
						width: 100%;
						height: auto;
						display: block;
						position: absolute;
						margin: 0;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}

					ul {

						li {
							font-size: $font-size-small;
						}
					}
				}

				&_wrong {
					width: 80%;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					text-align: center;
					line-height: 1;
					margin-top: 35%;
					z-index: 5;
					transform: translate(-50%, -50%);
					opacity: 0;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
						position: relative;
					}

					span {
						width: calc(100% - 2.6rem);
						height: auto;
						display: block;
						position: absolute;
						padding-left: 1.3rem;
						padding-right: 1.3rem;
						top: 50%;
						left: 50%;
						margin-top: 4%;
						transform: translate(-50%, -50%);
						font-family: $heading-font;
						font-size: $font-size-h3;
						font-weight: 500;
						z-index: 2;
					}
				}

				@include grid-media($Medium) {

					&_title {
						margin-top: -56.7%;
					}
				}
			}

			&__right {

				&_top {
					width: 100%;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 2;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
					}
				}

				&_back {
					width: $frameBackWidth;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -($frameBackRightTop));
					z-index: 1;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
					}
				}

				&_text {
					width: 70%;
					//height: 40vh;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
					z-index: 5;

					p {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
						margin: 0;
						//top: 50%;
						//left: 50%;
						//transform: translate(-50%, -50%);
					}

					ul {
						width: 100%;
						height: auto;
						display: block;
						position: relative;
					}
				}

				&_buttons {
					width: 75%;
					height: auto;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -($frameBackRightTop));
					z-index: 5;
				}

				&_button {
					width: 100%;
					height: calc(100% / 3);
					display: block;
					position: relative;
					margin: 15% 0;
					z-index: 1;
					cursor: pointer;

					img {
						width: 100%;
						height: 100%;
						display: block;
						object-position: center;
						object-fit: cover;
						transition: transform ($base-duration - 0.1);
					}

					p {
						width: calc(100% - 6rem);
						height: auto;
						display: block;
						position: absolute;
						padding-left: 3rem;
						padding-right: 3rem;
						margin: 0;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						text-align: center;
						line-height: 1;
						z-index: 2;
					}

					&:hover {
						img {
							transform: scale(0.99);
						}
					}
				}
			}
		}
	}

	&__arrow {
		width: 4rem;
		height: auto;
		display: block;
		position: absolute;
		cursor: pointer;

		&_back {
			bottom: 7%;
			left: -7%;
		}

		&_next {
			bottom: 7%;
			right: -7%;
		}

		img {
			width: 100%;
			height: 100%;
			display: block;
			position: relative;
			object-position: center;
			object-fit: cover;
		}
	}

	&__about {
		width: 100%;
		height: 100vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: url("../images/woodBack.jpg") 0 0 repeat;
		overflow: hidden;
		z-index: 11;

		&_inside {
			width: $containerWidth;
			height: calc(#{$containerWidth} / 1.57);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_back {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_frame {
			width: auto;
			height: 100%;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 3;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}

			&back {
				width: 40%;
				height: 90%;
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 2;

				img {
					width: 100%;
					height: 100%;
					display: block;
					object-position: center;
					object-fit: cover;
				}
			}
		}

		&_text {
			width: calc(38% - 2rem);
			height: calc(87% - 2rem);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 1rem;
			text-align: center;
			transform: translate(-50%, -50%);
			z-index: 2;
		}

		&_title {
			color: $primary;
			//margin-top: 0.3rem;
		}

		&_person {
			margin-bottom: 0.3rem;

			h3 {
				margin: 0 0 0.3rem 0;
				color: $primary;
			}

			p {
				margin: 0;
				font-size: $font-size-large;
			}

			&:last-child {
				.container__about_line {
					display: none;
					visibility: hidden;
				}
			}
		}

		&_line {
			width: 100%;
			height: auto;
			display: block;
			position: relative;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_arrow {
			width: auto;
			height: 5vmin;
			display: block;
			position: absolute;
			bottom: 6vh;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				object-position: center;
				object-fit: cover;
			}
		}

		//@include grid-media($Large) {
		//
		//	&_inside {
		//		width: calc(#{$containerWidth} + (#{$containerWidth} / 3));
		//		height: calc((#{$containerWidth} + (#{$containerWidth} / 3)) / 1.57);
		//	}
		//}

		@include grid-media($Medium) {

			&_inside {
				width: $containerWidth;
				height: calc(#{$containerWidth} / 1.57);
			}

			&_person {
				p {
					font-size: $font-size-small;
				}
			}

			&_title {
				margin-top: 0.3rem;
			}
		}

		@include grid-media($HSmall) {

			&_inside {
				width: $containerWidth;
				height: calc(#{$containerWidth} / 1.57);
			}

			&_person {
				p {
					font-size: $font-size-small;
				}
			}

			&_title {
				margin-top: 0.3rem;
			}
		}

		@include grid-media($Small) {
			width: calc(100% - 2rem);
			height: inherit;
			min-height: calc(100vh - 3rem);
			padding: 3rem 1rem 0;
			position: fixed;
			top: 0;
			left: 0;

			&_inside {
				width: $containerAboutWidth;
				//height: inherit;
				//min-height: 80vh;
				display: block;
				//position: relative;
				//left: 0;
				//top: 0;
				//transform: translate(0, 0);
			}

			&_back {
				display: none;
				visibility: hidden;
			}

			&_frame {
				width: 100%;
				height: auto;

				&back {
					width: 85%;
					height: 70%;
				}
			}

			&_text {
				width: calc(85% - 2rem);
				height: calc(70% - 2rem);
			}

			&_arrow {
				height: 10vmin;
				//position: relative;
				top: 2vh;

				&_back {
					bottom: 6rem;
					left: 0;
				}

				&_next {
					bottom: 6rem;
					right: 0;
				}
			}
		}
	}

	&__info {
		width: 100%;
		height: 100vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: url("../images/woodBack.jpg") 0 0 repeat;
		overflow: hidden;
		z-index: 11;

		&_inside {
			width: $containerWidth;
			height: calc(#{$containerWidth} / 1.57);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_frame {
			width: 100%;
			height: auto;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-top: -2rem;
			transform: translate(-50%, -50%);
			z-index: 3;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_back {
			width: 90%;
			height: auto;
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			//margin-top: 2rem;
			transform: translate(-50%, -50%);
			z-index: 1;

			img {
				width: 100%;
				height: 100%;
				display: block;
				object-position: center;
				object-fit: cover;
			}
		}

		&_text {
			width: calc(80% - 2rem);
			height: calc(65% - 4rem);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			padding: 2rem 1rem;
			margin-top: 1.5rem;
			text-align: center;
			transform: translate(-50%, -50%);
			z-index: 2;

			p {
				font-size: $font-size-large;
			}
		}

		&_arrow {
			width: auto;
			height: 5vmin;
			display: block;
			position: absolute;
			bottom: 6vh;
			left: 50%;
			transform: translateX(-50%);
			cursor: pointer;

			img {
				width: 100%;
				height: 100%;
				display: block;
				position: relative;
				object-position: center;
				object-fit: cover;
			}
		}

		@include grid-media($Medium) {

			&_text {
				p {
					font-size: $font-size-small;
				}
			}
		}

		@include grid-media($HSmall) {

			&_text {
				p {
					font-size: $font-size-small;
				}
			}
		}

		@include grid-media($Small) {
			width: calc(100% - 2rem);
			height: inherit;
			min-height: 100vh;
			padding: 3rem 1rem;
			position: fixed;
			top: 0;
			left: 0;
			overflow: scroll;

			&_inside {
				width: 100%;
				height: inherit;
				min-height: 100vh;
				display: block;
				position: relative;
				left: 0;
				top: 0;
				transform: translate(0, 0);
			}

			&_frame, &_back {
				display: none;
				visibility: hidden;
			}

			&_text {
				width: calc(100% - 2rem);
				height: calc(100% - 4rem);
				color: $secondary;
				padding-top: 0;
				margin-top: 0;

				p {
					font-size: calc(#{$body-font-size} + 0.1rem);
				}

				h1 {
					color: $secondary;
				}
			}

			&_arrow {
				height: 10vmin;
				//position: relative;
				top: 2vh;

				&_back {
					bottom: 6rem;
					left: 0;
				}

				&_next {
					bottom: 6rem;
					right: 0;
				}
			}
		}
	}

	&__library {
		width: 100%;
		height: 100vh;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		background: url("../images/woodBack.jpg") 0 0 repeat;
		overflow: hidden;
		z-index: 11;

		&_inside {
			width: $containerWidth;
			height: calc(#{$containerWidth} / 1.57);
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		&_arrow {
			bottom: 3vh;
		}

		@include grid-media($XLarge) {

			&_inside {
				width: calc(#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease}));
				height: calc((#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease})) / 1.57);
			}
		}

		@include grid-media($Large) {

			&_inside {
				width: calc(#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease}));
				height: calc((#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease})) / 1.57);
			}
		}

		@include grid-media($Medium) {

			&_inside {
				width: $containerWidth;
				height: calc(#{$containerWidth} / 1.57);
			}

			&_person {
				p {
					font-size: $font-size-small;
				}
			}

			&_title {
				margin-top: 0.3rem;
			}

			&_arrow {
				bottom: 6vh;
			}
		}

		@include grid-media($HSmall) {

			&_inside {
				width: $containerWidth;
				height: calc(#{$containerWidth} / 1.57);
			}

			&_person {
				p {
					font-size: $font-size-small;
				}
			}

			&_title {
				margin-top: 0.3rem;
			}
		}

		@include grid-media($Small) {
			width: calc(100% - 2rem);
			height: inherit;
			min-height: 100vh;
			padding: 3rem 1rem;
			position: fixed;
			top: 0;
			left: 0;
			overflow: scroll;

			&_inside {
				width: 100%;
				height: inherit;
				min-height: 100vh;
				display: block;
				position: relative;
				left: 0;
				top: 0;
				transform: translate(0, 0);
			}

			&_arrow {
				height: 10vmin;
				//position: relative;
				top: 2vh;

				&_back {
					bottom: 6rem;
					left: 0;
				}

				&_next {
					bottom: 6rem;
					right: 0;
				}
			}
		}
	}

	@include grid-media($XLarge) {
		width: calc(#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease}));
		height: calc((#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease})) / 1.57);
		//background-size: calc(#{$containerWidth} + (#{$containerWidth} / 2));
	}

	@include grid-media($Large) {
		width: calc(#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease}));
		height: calc((#{$containerWidth} + (#{$containerWidth} / #{$containerIncrease})) / 1.57);
		//background-size: calc(#{$containerWidth} + (#{$containerWidth} / 2));
	}

	@include grid-media($Medium) {
		width: $containerWidth;
		height: calc(#{$containerWidth} / 1.57);
	}

	@include grid-media($HSmall) {
		width: $containerWidth;
		height: calc(#{$containerWidth} / 1.57);
	}

	@include grid-media($Small) {
		width: calc(100% - 2rem);
		height: inherit;
		min-height: 100vh;
		padding: 0 1rem;
		position: relative;
		top: 0;
		left: 0;
		transform: translate(0, 0);

		&__wrapper {
			height: inherit;
			min-height: 100vh;
			overflow: scroll;
			top: 2.5rem;

			&_padding {
				width: 100%;
				padding: 40% 0 0;
			}
		}

		&__back {
			display: none;
			visibility: hidden;
		}

		&__inside {
			width: 100%;
			height: inherit;
			min-height: 100vh;
			left: 0;
			top: 0;
			padding-bottom: 8rem;
			transform: translate(0, 0);

			&_back {
				display: none;
				visibility: hidden;
			}
		}

		&__frame {
			width: 100%;
			height: calc(100vw * 1.3);
			top: initial;
			position: relative;
			transform: translate(0, 0);

			&_left, &_right {
				left: 0;
			}

			.frame {

				&__left {

					&_change {
						width: 100%;
						//height: 100%;
						//display: block;
						//position: relative;
					}

					&_quest {

						span {
							font-size: $font-size-base;
						}
					}

					&_title {
						margin-top: -57%;
					}
				}
			}
		}

		&__arrow {

			&_back {
				bottom: 6rem;
				left: 0;
			}

			&_next {
				bottom: 6rem;
				right: 0;
			}
		}
	}

}
/* @end  */